[Desktop Entry]
Name=Yavix Installer

Exec=python /usr/bin/yavix-installer/installer.py

Icon=/usr/bin/yavix-installer/images/installer-logo.svg

Terminal=false
Type=Application
StartupNotify=false
